*{
  box-sizing: border-box;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

.board-row{
  display: flex;
}

.square {
  background: red;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: auto;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: auto;
}